        // Fonts
        @import url('https://fonts.googleapis.com/css?family=Nunito');
        //poppins font
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
        // Variables
        @import 'variables';
        // Bootstrap
        @import '~bootstrap/scss/bootstrap';
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
        
        @media (max-width: 700px) {
            .slide-img {
                height: 100px;
                width: 200px;
            }
            .sticker {
                height: 250px;
                width: 220px;
            }
            .about-img {
                height: 150px;
                width: 220px;
            }
            .row-2 {
                width: 90%;
                margin: auto;
                align-items: center;
                justify-content: center;
            }
            .first-img {
                height: 200px;
                width: 200px;
            }
            footer {
                bottom: unset;
            }
            .col {
                flex-basis: 100%;
            }
            .col:nth-child(2) {
                flex-basis: 100%;
            }
        }
        
        .location {
            width: 80%;
            margin: auto;
            padding: 80px 0;
        }
        
        .location div {
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.2);
            justify-content: center;
            align-content: center;
            padding: 10px 10px;
        }
        
        .location iframe {
            width: 100%;
        }
        
        .slide-img {
            height: 300px;
            width: 700px;
        }
        
        .about-img {
            height: 600px;
        }
        
        .factors {
            text-align: center;
        }
        
        footer {
            width: 100%;
            position: relative;
            bottom: 0;
            background: linear-gradient(to right, #00093c, #2d0b00);
            color: #fff;
            padding: 100px 0 30px;
            border-top-left-radius: 125px;
            font-size: 13px;
            line-height: 20px;
        }
        
        .row {
            width: 85%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }
        
        .col {
            flex-basis: 25%;
            padding: 10px;
        }
        
        .col:nth-child(2) {
            flex-basis: 45%;
        }
        
        .underline {
            width: 100%;
            height: 5px;
            background: #767676;
            position: absolute;
            overflow: hidden;
            top: 25px;
            left: 0;
        }
        
        .underline span {
            width: 15px;
            height: 100%;
            background: #fff;
            border-radius: 3px;
            top: 0;
            position: absolute;
            left: 10px;
            animation: moving 2s linear infinite;
        }
        
        @media (min-width: 700px) {
            .block-1 {
                float: left;
                width: 50%;
                box-sizing: border-box;
                padding-left: 40px;
                margin-bottom: 50px;
                margin: 20px;
            }
            .sticker {
                height: 420px;
                width: 400;
            }
            .row-2 {
                width: 80%;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }
            .col-2 {
                flex-basis: 50%;
                padding: 10px;
                margin: 10px 10px 10px 10px;
                border: 1px solid #03a9f4;
            }
        }
        
        @keyframes moving {
            0% {
                left: -20px;
            }
            100% {
                left: 100%;
            }
        }
        
        .fall {
            animation: fall 3s linear;
            overflow: hidden;
        }
        
        @keyframes fall {
            0% {
                top: -150px;
            }
            100% {
                top: 0;
            }
        }
        
        .rise {
            animation: rise 3s linear;
            overflow: hidden;
        }
        
        @keyframes rise {
            0% {
                bottom: -150px;
            }
            100% {
                bottom: 0;
            }
        }
        
        .move-left {
            animation: move-left 3s linear;
            overflow: hidden;
        }
        
        @keyframes move-left {
            0% {
                left: -1500px;
            }
            100% {
                left: 0;
            }
        }
        
        .move-right {
            animation: move-right 3s linear;
            overflow: hidden;
        }
        
        @keyframes move-right {
            0% {
                right: -1500px;
            }
            100% {
                right: 0;
            }
        }
        
        .appear {
            animation: appear 3s linear;
            overflow: hidden;
        }
        
        @keyframes appear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        .twist {
            animation: twist 3s linear;
            overflow: hidden;
        }
        
        @keyframes twist {
            0% {
                transform: rotateY(180deg);
            }
        }
        
        .roll {
            animation: roll 3s linear;
            overflow: hidden;
        }
        
        @keyframes roll {
            0% {
                transform: rotateX(180deg);
            }
        }
        
        .dangle {
            animation: dangle 3s linear;
            overflow: hidden;
        }
        
        @keyframes dangle {
            0% {
                transform: rotateX(90deg);
                transform: rotateY(90deg);
            }
            50% {
                transform: rotateX(-90deg);
                transform: rotateY(-90deg);
            }
        }
        
        .col h2 {
            width: 300px;
            margin-bottom: 30px;
        }
        
        .col h3 {
            width: fit-content;
            margin-bottom: 40px;
            position: relative;
        }
        
        .fab {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            color: #000;
            position: relative;
            background: #fff;
            margin-left: 15px;
            cursor: pointer;
        }
        
        .far,
        .fas {
            margin: 10px;
        }
        
        hr {
            width: 90%;
            border: 0;
            border-bottom: 1px solid #fff;
            margin: 20px auto;
        }
        
        .copyright {
            text-align: center;
        }
        
        .email-id {
            width: fit-content;
            border-bottom: 1px solid #ccc;
            margin: 20px 0;
        }
        
        .email {
            border: 1px solid #000;
            padding: 30px;
            border-radius: 5px;
        }
        
        .plate {
            width: 80%;
            background-color: #fff;
            border-radius: 30px;
            padding: 2rem 2rem;
            border: 30px;
            position: relative;
            justify-content: center;
            align-content: center;
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
        }
        
        .first {
            width: 80%;
            background-color: #fff;
            border-radius: 30px;
            padding: 2rem 2rem;
            border: 30px;
            position: relative;
            justify-content: center;
            align-content: center;
            border: 1px solid #03a9f4;
            box-sizing: border-box;
        }
        
        .navbar-nav li {
            display: inline-block;
        }
        
        .navbar-nav li a {
            color: #000;
            text-decoration: none;
            padding: 5px 20px;
            font-size: 15px;
            font-family: "Roboto", sans-serif;
        }
        
        .nav-item.activate a {
            border: 1px solid #fff;
        }
        
        .navbar-nav li a:hover {
            border: 1px solid #fff;
        }
        
        .logo {
            float: left;
            width: 50px;
            height: 35px;
            border-radius: 50%;
            margin-left: 10px;
        }
        
        .logo-1 {
            float: left;
            width: 100px;
            height: 70px;
            margin-left: 10px;
        }
        
        .row {
            max-width: 1200px;
            margin: auto;
        }
        
        .welcome {
            background: url("/svg/welcome.jpg") no-repeat center center fixed;
            background-size: cover;
            object-fit: cover;
            position: absolute;
            height: 100%;
            width: 100%;
        }
        
        .contact-page {
            background: url("/svg/contact-us.png") no-repeat center center fixed;
            background-size: cover;
            object-fit: cover;
            position: relative;
            height: 100%;
            width: 100%;
        }
        
        .services-page {
            background: url("/svg/youth.jpg") no-repeat center center fixed;
            background-size: cover;
            object-fit: cover;
            position: relative;
            height: 100%;
            width: 100%;
        }
        
        .bill {
            background: linear-gradient(to right, #00093c, #2d0b00);
            opacity: 0.7;
            z-index: 2;
            padding: 30px;
        }
        
        .bill h2 {
            z-index: 3;
            color: #fff;
        }
        
        .word {
            background-color: #000;
            opacity: 0.7;
            z-index: 2;
        }
        
        .word h5 {
            z-index: 3;
        }
        
        .carousel-capt {
            color: #fff;
            z-index: 5;
        }
        
        .page {
            text-align: center;
            margin-top: 100px;
            color: #fff;
            font-size: 1.2em;
        }
        
        h1 {
            color: #fff;
            text-transform: uppercase;
            font-size: 6em;
            text-align: center;
            line-height: 1em;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .type {
            animation: type 4s steps(14) 1s 1 normal both, blinkCursor 500ms steps(14) infinite normal;
        }
        
        @keyframes type {
            from {
                width: 0;
            }
            to {
                width: 6em;
            }
        }
        
        @keyframes blinkCursor {
            from {
                border-right-color: black;
            }
        }
        
        .welc {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 250px;
        }
        
        .front {
            z-index: 2000;
        }
        
        button {
            font-size: 1em;
            display: inline-block;
            padding: 10px 30px;
            margin: auto;
            text-decoration: none;
            color: $red;
            margin-top: 10px;
            position: relative;
            background: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            line-height: 1em;
            font-weight: bold;
            border-color: #fff;
            border-radius: 30px;
            box-shadow: 0px 3px 5px rgba(1, 1, 1, 0.2);
            z-index: 160;
        }
        
        button:hover {
            letter-spacing: 6px;
            color: #fff;
            background-color: #03a9f4;
        }
        
        .error {
            color: $red;
        }