    // Fonts
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    //poppins font
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
    // Variables
    @import 'variables';
    // Bootstrap
    @import '~bootstrap/scss/bootstrap';
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    #preloader {
        background: #000 url("/svg/animated-web-preloader.gif") no-repeat center center;
        background-size: 100%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    
    .showcase {
        position: absolute;
        left: 0;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background: #111;
        color: #fff;
        z-index: 2;
    }
    
    .showcase header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        padding-bottom: 200px;
        z-index: 3;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    
    .name {
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .text {
        position: relative;
        z-index: 5;
    }
    
    .text h2 {
        font-size: 5em;
        font-weight: 800;
        line-height: 1em;
        text-transform: uppercase;
    }
    
    .text h3 {
        font-size: 4em;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
    }
    
    .text p {
        font-size: 1.1em;
        margin: 20px 0;
        max-width: 700px;
        font-weight: 400;
        line-height: 1em;
        text-transform: uppercase;
    }
    
    .text button {
        font-size: 1em;
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        color: #fff;
        margin-top: 10px;
        background: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        line-height: 1em;
        font-weight: bold;
        border-color: #fff;
        border-radius: 30px;
        box-shadow: 0px 3px 5px rgba(1, 1, 1, 0.2);
    }
    
    .text button:hover {
        letter-spacing: 6px;
    }
    
    .showcase video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.95;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #03a9f4;
        mix-blend-mode: overlay;
    }
    
    .error {
        color: $red;
    }